<html>
<head>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
}

/* Header */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Create three unequal columns that floats next to each other */
.column {   
  float: center;
  padding: 10px;
}

/* side columns */
.column.side {
  width: 20%;
}

/* center column */
.column.middle {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* when the screen is less than 800px wide, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column.side, .column.middle {   
    width: 100%;
  }
}

</style>
</head>
<body>

<div class="header">
    <h1>Tiger Tom's List</h1>
</div>
<table>
<b>View by: <%= link_to "ALL", home_path %> | <%= link_to "CATEGORIES", categories_path %> </b>


        <tbody>

        <% @hpcategories.each do |c| %>
          <tr>
            <td><%= link_to c.title, category_path(c) %></td>
            <td class="text-nowrap">
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
  </div>

  <div class="column middle">
      <table class="table">
       
        <thead class="thead-dark">
        <th>Ad Listings</th>
        </thead>

        <tbody>
        

        </tbody>
      </table>
  </div>

  <div class="column side">
      <h2>Post an Ad and Register</h2>

      <p>Post an Ad</p>

      <p>Register</p>
  </div>
</div>

</body>
</html>