<h1>Messages</h1>

<p>
    <% @conversations.each do |conversation|%>
        
        <% if current_user == conversation.user || current_user.email == conversation.listener %>
            <a><p class= "msg-overview">
            <b>From: </b><%= conversation.starter.split('@')[0] %>  <br>
            <b>To: </b><%= conversation.listener.split('@')[0] %> <br>
            <b>Message:</b> <br>
            <%= conversation.initial_msg %>
            <p>
        <% end %>
    <% end %>
</p>