<pre>




</pre>
<center><h1>Looks like you don't have a credit card.</h1>
<h1>Would you like to add one?</h1></center>

<div class= "row justify-content-center", style= "margin-top: 8rem;">
    <div class= "column col-sm-2">
        <a href= "<%= new_credit_card_path(@user)%>"><div class= "yes-button">Add Card</div></a>
    </div>
    <div class= "column">
        <input class= "no-button" type="button" value="No, Thank you" onclick="history.back()">
    </div>
</div>

