<br>
<h1><b>You bought it!</b></h1>
<br>
<br>
<h3><b>You are soon to be the proud owner of a <%= @ad.title %>! </h3>
<br>
<h3>We have sent a message to the seller, who should be in contact with you within 48hrs with a shipping confirmation. In the event you do not hear from them, please contact your congress person, the president, maybe even Zbo, and someone that cares.</h3>
<br>
<h3>Thanks for shopping at TOM the Tiger's!</h3>
<br>
<br>
<br>
<%= link_to "Back to Home", home_path(), class: "btn btn-secondary" %>
