// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .form-row:after {
    content: "";
    display: table;
    clear: both;
  }