// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .form-row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* BUTTONS */

  .basic-button {
    background-color: blue;
    color: black;
    border: 2px solid blue;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 12px;
    transition-duration: 0.4s;
  }

  .basic-button:hover{
    background-color: blue;
    color: white;
  }

  .img{
    height: auto;
    width: 100%;
    text-align: left;
    width: 200px;
    margin:auto;
    margin-left: 5px;
    padding: 3px;
    display: inline-block;
    outline-style: solid;
    outline-color: black;
    outline-width: 5px;
    padding: 0px;
  }

  .imgs-container {
    display: inline-block;
    width: 200px;
    padding: 5px;
  }