<h1>Shop By Category</h1>

<table class= "table table-hover">
    <tbody>
        <% @categories.each do |category|%>
            <tr>
                <td>
                    <a href= "<%= category_url(category)%>"><%= image_tag category.image, size: "400x300", class: "category-img"%></a>
                </td>
                <td>
                    <pre>




                    </pre>
                    <p style= "text-align: center;">
                        <h4 class="category-title"><%= category.title %></h4>
                        <%= category.description %>
                    </p>
                   
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
