<h1>Shop By Category</h1>
    
    <ul>
        <% @categories.each do |c| %>
            <% if c.image.attached? %>
                <div align="justify;" >   
                    <%= image_tag c.image, style: 'width: 225px; height: 150px;'%>
                    <br>
                    <p>
                        <%= link_to c.title, category_path(c) %>
                    </p>
                </div>
            <% end %>
        <% end %>
    </ul>

 