
<h1>Shop By Category</h1>

<div class = "picture-grid">
    <% @categories.each do |c| %>
        <% if c.image.attached? %>
            <div class= "grid-box">
                <a href= "<%= category_url(c)%>"><%= image_tag c.image, style: "width: 100%" %></a>
                <br>
                <p>
                    <%= c.title %>
                </p>
            </div>
        <% end %>
    <% end %>
</div>
