<style>
    h1 {text-align: center;}
</style>

<h1>Category: <%= @category.title%></h1>

<div class= "row">
    <% @category.ads.each do |ad| %>
            <% if ad.images.attached? %>
                <div class= "img-column">
                    <a href= "<%= ad_url(@category, ad)%>">
                        <p class= "ad-button"><%= image_tag(ad.images[0])%> <%= ad.title %></p>
                    </a>
                </div>
            <% end %>
        
</div>

<% end %>

